<ion-view view-title="{{vm.title}}">
    <ion-content>
        <!-- The content of the page -->
        <div class="list card">

            <div class="item item-divider item-avatar">
                <img src="img/swimmer.svg">

                <h2>Zero to MDCL (1650)</h2>

                <p>Your personal swim coach</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/swimmer.jpg">
            </div>

            <div class="item item-body">
                <p>This application contains a six-week program to help you swim a mile non-stop.
                Please note, this is only a swim tracking application. It is not an exercise program,
                    you should be reasonably health
                    and you should already know how to swim.</p>
            </div>

            <a href="#" ui-sref="list" class="item item-icon-right">
                I Agree. Let's Get Started <i class="icon ion-chevron-right icon-accessory"></i></button>
            </a>
        </div>
    </ion-content>
</ion-view>
