<ion-view view-title="{{vm.title}}">
    <ion-content>
        <!-- The content of the page -->
        <div class="list card">

            <div class="item item-divider item-avatar">
                <img src="img/swimmer.svg">

                <h2>Zero to MDCL (1650)</h2>

                <p>Your personal swim coach</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/swimmer.jpg">
            </div>

            <div class="item">
                <p>Lorem ipsum paragraph goes here.</p>
            </div>

            <a href="#" ui-sref="list" class="item item-icon-right">
                Get Started <i class="icon ion-chevron-right icon-accessory"></i></button>
            </a>
        </div>
    </ion-content>
</ion-view>
