# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/
.idea/
resources/**/
*.keystore
.settings/
.vscode/

bower_components/
components/
tmp
temp
dist
www/css/ionic.app.*
